@charset "UTF-8";


body{
    background-color:rgb(20, 20, 20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: left;
    color: rgb(255, 255, 255);
}

h2 {
    text-align: left;
    color: rgb(212, 212, 212);
}

p{
    color: rgb(151, 151, 151);
    text-align: justify;
}
                           
