@charset "UTF-8";

/*
TYPICAL DEVICE BREAKPOINT
Mobile: 600 - 768
Tablet: 768 - 992
Desktop: 992 - 1200
High-Res: > 1200

*/

@media print {
    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        border: solid 2px black;
        width: 500px;
        height: 750px;
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

/*TABLET*/
@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    main {
        width: 500px;
        height: 600px;
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

/*DESKTOP*/
@media screen and (min-width:992px) and (max-width:1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 700px;
        height: 400px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

/*HIGH-RES*/
@media screen and (min-width:1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 800px;
        height: 500px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}